.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2.5rem 0;
  width: 100%;
  z-index: 999;
}

.logo {
  color: var(--white);
}

.grid {
  display: grid;
  grid-template-columns: auto 12.6rem 1fr 12.6rem 1fr 6.6rem auto;
  align-items: center;
}

.nav {
  grid-column: 1 / 1;
}

.logo {
  grid-column: 3/4;
}

.search {
  grid-column: 5/6;
}

.actionBar {
  grid-column: 7/-1;
}