.inputWrapper {
  position: relative;
}

.input {
  background: var(--white);
  border: 1px solid #D6D6D6;
}

.error {
  border-color: red;
}

.errorLabel {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: red;
  transform: translateY(0.3rem);
}