.subscribeForm {
  padding: 1.4rem;
  border: 1px solid var(--white);
}

.wrapper {
  padding: 2rem 2.2rem;
  background: var(--white);
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  flex: 1 1;
}

.input {
  input {
    padding: 1.3rem 1.4rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
    flex: 1 1;
    height: 100%;

    &::placeholder {
      text-transform: uppercase;
    }
  }
}

.notification {
  padding: 3rem;
  max-width: 474px;
  background: #F9F9F9;
  box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.25);
  border-radius: 2.4rem;
}

.notificationTitle {
  margin-bottom: 1.7rem;
  font-size: 2.2rem;
  line-height: 2.6rem;
}

.notificationText {
  margin: 0;
  font-size: 1.8rem;
  line-height: 2.1rem;
}