// Media breakpoint
$mob-s: 640px;
$tablet-w: 960px;
$desk-w: 1200px;

// Colors
$prime: #333333;
$white: #ffffff;
$gray: #F9F9F9;

// Fonts
$mainFont: 'Gilroy';
$secondFont: 'Noto';

// Container width
$containerWidth: 1160px;